<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CrudApplication.Properties.Settings.ConnectionString"
            connectionString="Data Source=DESKTOP-UUG2AVV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CrudApplication.Properties.Settings.crudApplicationConnectionString"
            connectionString="Data Source=DESKTOP-UUG2AVV;Initial Catalog=crudApplication;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>